# File managed throught SaltStack!
{%- from "letsencryptsh/map.jinja" import letsencryptsh_settings with context -%}
{%- set all_cfg = letsencryptsh_settings %}
{%- set cfg = letsencryptsh_settings.config.filename %}
{%- macro add(parameter) -%}
{{ parameter }}={{ cfg[parameter] }}
{%- endmacro -%}
{%- for param in cfg %}
{{ add(param) }}
{%- endfor %}
